@model SpeedSystem.Models.Measure

@{
    ViewBag.Title = "Measure";
}





<div class="container">
    <div class="section">
        <div class="col s12">
            <div>
                

	<a class=" waves-effect waves-light  btn #00e676 green accent-3" href="@Url.Action("Index")"> <i class="material-icons left">arrow_back</i>Voltar</a>
    <a class=" waves-effect waves-light  btn #757575 grey darken-1" href="@Url.Action("Edit", new { id = Model.MeasureId })"><i class="material-icons left">mode_edit</i>Editar</a>

   

            </div> <br />
            <table class="Highlight striped">
                <thead class="">
                    <tr>
                        <th></th>
                        <th>Descrição</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
       <td> @Html.DisplayNameFor(model => model.Name) </td>    
      <td>  @Html.DisplayFor(model => model.Name)</td>
					</tr>

                </tbody>
            </table>

        </div>
    </div>
</div>


  




